
# scratchpads
__*

# Mac OSX
.DS_Store
.Spotlight-V100
.Trashes

# Windows
Thumbs.db

# Bower
src/js/vendor
src/bower_components

# Logs
*.log

# PHPStorm
.idea
.idea/

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
# /Node
